/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.page__body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1680px;
    margin: 0 auto;
    padding: 5px;
}

/*Mobile first style and layout*/

/*Header and navigation*/
.search_form {
    display: none;
}

.mobile_search_form {
    display: flex;
}

.mobile_search_input {
    border: 1px solid #4F6367;
    padding: 5px;
    width: 98%;
}

.logo_style {
    font-family: 'Bebas Neue';
    font-size: 1.875rem;
    color: #333333;
    text-decoration: none;
}




/*--------------Welcome part--------*/

.welcome {
    background-color: #ACECF7;
    height: 150px;
    margin-top: 10px;
    width: 100%;
    text-align: left;
    padding-left: 40px;
    padding-top: 13px;
    font-family: 'Open Sans';
    font-size: 1.875rem;
    font-weight: bold;
    color: #333333;


}

.line {
    border-left: 4px solid #4F6367;
    height: 120px;
    float: left;
    margin-left: 18px;
    margin-top: -135px;

}
/*Main article*/

.top_article {
    color: #333333;
    font-family: 'Open Sans';
    margin-left:10px;
    font-weight: bold;
    margin-bottom: -50px;
    margin-top: 20px;
}

.top_articlephoto {
    background-image: url('../images/Natalia.jpg');
    background-size: cover;
    font-family: 'Open Sans';
    font-size: 1.875rem;
    font-weight: bold;
    width: 100%;
    height: 300px;
    margin-top: 55px;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    color: #fff;
    
}

.description {
    font-family: 'Open Sans';
    font-size: 1.2rem;
    font-weight: normal;

}

.button_read {
    background-color: #D4FFEA;
    font-size: 20px;
    width: 127px;
    height: 36px;
    font-weight: bold;
    float: right;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    color: #333333;
    padding-top: 3px;
}

/*----------Latest articles---------*/

.latest_articles {
    color: #333333;
    font-family: 'Open Sans';
    margin-left:10px;
    font-weight: bold;
    margin-bottom: -13px;
    margin-top: 20px;
}

.article_section {
    margin: 20px auto;
    
}

.article_flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #DBDCFF;
    text-align: center;
    margin: 20px 0;
    
    
}

.card {
    width: 228px;
    height: 228px;
    margin-bottom: 30px;
    margin: 30px 5px;
}

.article_image {
    height: 228px;
    width: 228px;
    
}

.card_item {
    text-decoration: none;
    color: #333333;
    font-family: 'Open Sans';
    font-weight: bolder; 
}



/*-----------Suggestions of the week---------*/

.week_suggestions {
    color: #333333;
    font-family: 'Open Sans';
    margin-left: 10px;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 0;
}

.suggestion_section {
    margin: 20px auto;
    
}

.suggestion_flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #FFD4E5;
    text-align: center;
    margin: 20px 0;
}



.suggestion_image {
    height: 228px;
    width: 228px;
}


.button_viewmore {
    background-color: #D4FFEA;
    font-size: 20px;
    width: 163px;
    height: 58px;
    font-weight: bold;
    float: right;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    color: #333333;
    padding-top: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 14px;  
}


/*-----------Footer section------------*/
.page_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15rem;
    align-items: center;
    text-align: center;
    border-top: 2px solid #4F6367;
    padding-top: 25px;
    padding-bottom: 0px;
}

.some_image {
    width: 32px;
    margin-right: 16px;
}

.footer_card_heading {
    margin-bottom: 7px;
}

.footer_card:first-child .footer_card_heading {
    margin-bottom: 16px;
}

.footer_link {
    text-decoration: none;
    color: #333333;
}

/*SUBSCRIBE SUBPAGE*/

.subscribe {
    color: #333333;
    font-family: 'Open Sans';
    text-align: center;
   
}

.button_subscribe {
    background-color: #D4FFEA;
    font-size: 20px;
    width: 163px;
    height: 58px;
    font-weight: bold;
    display: block;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    color: #333333;
    padding-top: 3px;
    padding-top: 14px;
    border-radius: 114px;
    margin: 20px auto;
    
}


